

html{
  font-size: 62.5%;
}

:root {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body), sans-serif;
  background: #f9fafb;
  color: #777;
  line-height: 1.6;
  font-size:1.6rem;
  /* background-image: linear-gradient(
  to right bottom,
  #ffffff,
  #f5faff,
  #dbeafe,
  #f9fafb
); */

 
   background-image: linear-gradient(
  to right bottom,
  #ffffff,
  #fef6e4,
  #f9e79f,
  #f0f0f0
);


}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

/* .container{
  display:grid
}
.nav-container{
  grid-row:1/2
}

.main-container{
  grid-row: 2/3
}

.footer-container{
  grid-row:3/-1
} */


